.root {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(42, 41, 47, 0);
  pointer-events: none;
  // opacity: 0;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  z-index: 9990;
}

.vaul {
  width: 100%;
  position: fixed;
  height: 130vh;
  bottom: calc(-30vh - (80px + 1em));
  opacity: 0;
  background-color: #f9f9f9;
  left: 0;
  transform: translateY(90vh);
  border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em;
  padding: 1em;
  padding-top: 1.7em;
  box-shadow: 0px 1px 2em #00000030;
  z-index: 9991 !important;

  & > div {
    height: 75vh;
    overflow: scroll;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0.7em;
    width: 15%;
    height: 0.5em;
    border-radius: 1em;
    left: 50%;
    background-color: rgb(233 233 233);
    animation: vaulHandlerMove 2s infinite;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  }
}

@keyframes vaulHandlerMove {
  0% {
    transform: translate(-50%, 0em);
  }
  50% {
    transform: translate(-50%, 0.5em);
  }
  100% {
    transform: translate(-50%, 0em);
  }
}
