.hero {
  position: relative;
  display: flex;
  height: 100vh;
  overflow: hidden;
  transform: translateY(20%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 100%, 0% 100%);
  will-change: transform;
}

.hero img {
  object-fit: cover;
  transform: scale(1.2);
}

.text {
  transform: translateY(100%);
  width: 100%;
  height: auto;
  z-index: 2;
  mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  @include md-down {
    mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
  }
}
