.sliderContainer {
  z-index: 5;
  position: absolute;
  &.small {
    p {
      font-size: clamp(4.0625rem, 0.6799rem + 5.423vw, 7.1875rem);
      line-height: clamp(4.0625rem, 0.6799rem + 5.423vw, 7.1875rem);
    }
  }
  &.hero {
    top: calc(100vh - 17em);
    @include md-down {
      top: auto;
    }
  }
  &.bottom {
    bottom: 0;
  }
}

.slider {
  position: relative;
  white-space: nowrap;
}

.slider p {
  position: relative;
  margin: 0px;
  color: white;
  font-size: clamp(11.25rem, 7.8674rem + 5.423vw, 14.375rem);
  line-height: clamp(13.125rem, 9.7424rem + 5.423vw, 16.25rem);
  font-weight: 500;
  text-transform: capitalize;
  padding-right: 50px;

  @include md-down {
    font-size: 5em;
    line-height: 1em;
  }
}

.slider p:nth-of-type(2) {
  position: absolute;
  left: 100%;
  top: 0;
}
