.card {
    border-radius: 25px;
    border: 1px solid #cdcdcd;

    &:hover {
        .imageContainer {
            left: 15%;
            top: -15%;
            transform: scale(1.1);
        }
    }
}
.imageContainer {
    width: calc(100% - 45px);
    height: 100%;
    position: absolute;
    left: 24px;
    top: 0;
    transition: all 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    &::before {
        content: '';
        width: 70%;
        height: 9%;
        position: absolute;
        background: #000000;
        border-radius: 50%;
        filter: blur(24px);
        opacity: 0.4;
        z-index: -1;
        right: calc(50% - 35%);
        bottom: 10%;
    }
}
