.image {
    width: 100%;
    height: 80%;
    // img {
    //     height: calc(100% + 10em) !important;
    // }
    position: relative;
    overflow: hidden;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.infoContainer {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detailsContainer {
    width: 20%;
}

.title {
    font-size: clamp(1.5625rem, 0.5477rem + 1.6269vw, 2.5rem);
    font-weight: 700;
    letter-spacing: -2px;
}
.price {
    font-size: 2em;
    font-weight: 300;
}

.carouselImages {
    display: flex;
    height: 20%;
    gap: 1em;
    & > div {
        width: 25%;
        position: relative;;
    }
}

.imageContainer {
    transform: translateY(200px);
    opacity: 0;
}

.counter {
    width: 1.5em;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
        font-size: 1.5em;
        color: black;
    }
}

.colorSelector {
    border-radius: 8px;
    border: 1px solid white;
    padding: 0.5em;
    width: 20%;
    height: 100%;
    & > div {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
    &:hover {
        border-color: black;
    }
}

.sizeSelector {
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px; 
    border: 1px solid black;
}