@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100..900&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  
  background: #f9f9f9;
}

main {
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* NAV */
.overlay {
  pointer-events: none;
  position: fixed;
  background-color: black;
  z-index: 3;
  opacity: 0;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  transition: opacity 0.2s ease;
  transition-delay: 0.2s;
}

.overlay.active {
  pointer-events: all;
  opacity: 0.5;
}

.appear li{
  transform: translateY(100px);
}

nav {
  transition: width 0.1s ease-in-out, height 0.2s cubic-bezier(0.2, 0.32, 0, 0.87);
}

nav:hover::before {
  background-color: white;
}

.navbar { 
  width: calc(91.666667vw - 48px);
}

.navbar li {
  transition: color 0.7s ease;
}

.navbar ul > li.active {
  color: #363636 !important;
}

.navbar ul:hover > li {
  color: #989898;
  cursor: pointer;
}

.menu-dropdown {
  opacity: 0;
  height: 0;
  transition: all 0.2s ease-in;
  pointer-events: none;
  position: absolute;
  top: 5rem;
}

.menu-dropdown.active {
  opacity: 1;
  pointer-events: all;
  height: 20rem;
  transition: all 0.2s ease-in;
  transition-delay: 0.2s;
}

.dropdown-item button {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  cursor: pointer;
}

.submenu span {
  opacity: 0;
}

.cancel-blur {
  text-shadow: none !important;
}

.blur-text {
  color: transparent;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.272);
}

.blur-text:hover {
  text-shadow: none;
}

.hover-button {
    user-select: none;
    position: absolute;
    z-index: 1;
    top: 70%;
    left: 0.5rem;
}

nav:before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(255 255 255 / 60%);
  -webkit-backdrop-filter: blur(10px) brightness(1.2);
  backdrop-filter: blur(10px) brightness(1.2);
  z-index: -1;
  content: '';
  transition: background-color .5s ease-in-out;
}


/* CURVE MENU */

.svgCurve{
  position: absolute;
  top: 0;
  left: -99px;
  width: 100px;
  height: 100%;
  fill: white;
  stroke: none;
}

/* HERO */

.header-overlay:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0.5452556022408963) 17%, rgba(0,0,0,0.1110819327731093) 62%);
  z-index: 1;
  top: 0;
  left: 0;
}

.hero{
  position: relative;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.hero img{
  object-fit: cover;
}

/*Page transition*/


.loader{
  height: calc(100vh + 200px);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999999;
}

.loader svg{
  height: 100%;
  width: 100%;
}